/* GENERAL */

:root {
  --dark: #444;
  --lessdark: #373737;
  --light: #fff;
  --lesslight: #f9f9f9;
  --lightlink: blue;
  --lightlinkhover: aliceblue;
  --lightlinkactive: #d5e9fb;
  --darklink: #50d6ff;
  --darklinkhover: #30475b;
  --darklinkactive: #18344d;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: var(--bg-col);
  color: var(--text-col);
}

a {
  color: var(--link-col);
}

/* NAV */

/* #nav {
  padding: 0;
  list-style-type: none;
}

#nav li {
  display: inline-block;
}

#nav li:not(:last-of-type) {
  margin-right: 1em;
} */

/* POEM */

main {
  padding-bottom: 27vh;
}

#text {
  padding: 2.5rem;
  background-color: var(--bg-col);
  width: max-content;
  max-width: 100%;
}
  @media (min-width: 800px) {
    #text {
      padding: 2rem 5rem 3.5rem;
    }
  }

#title {
  font-size: 5vh;
  line-height: 1;
}
  @media (min-width: 800px) {
    #title {
      font-size: 6vh;
    }
  }

#poem {
  font-size: 8vh;
  line-height: 1;
  margin: .5em 0;
}
  @media (min-width: 800px) {
    #poem {
      font-size: 10vh;
    }
  }

#poem p {
  margin: 0 0 .5em 0;
}

.feeling {
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: italic;
}

.break {
  position: relative;
  width: .5em;

}

.break-active {
  background-color: var(--link-hover);
}

.break-active:hover {
  cursor: pointer;
}

.break-active:active {
  background-color: var(--link-active);
}

.break-active::after {
  position: absolute;
  content: "¶";
  font-size: .25em;
  top: 2.25em;
  left: .2em;
}

.fas {
  font-size: .9em;
}

/* TOOLBOX */

#toolbox {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 2rem;
  width: 100%;
  background-color: var(--mid-col);
  box-shadow: 1px 1px 10px 10px rgba(0,0,0,.04);
  height: auto;
}

#handle {
  display: block;
  text-align: center;
  margin: -1rem auto 1rem;
  background: none;
  border: 0;
}

#handle:hover {
  cursor: pointer;
}

#toolbox p {
  font-style: italic;
  opacity: .8;
}

#controls {
  display: flex;
  flex-direction: column;
}
  @media (min-width: 800px) {
    #controls {
      flex-direction: row;
    }
  }

#controls > div {
  width: 100%;
}
  @media (min-width: 800px) {
    #controls > div {
      width: 33.3%;
    }
  }

#choose_controls {
  overflow: scroll;
  height: 75px;
}

.word {
  padding: .5em 2em;
  background: none;
  font-family: "IBM Plex Serif", serif;
  font-size: 1em;
  color: var(--text-col);
  border: .5px solid var(--text-col);
  border-radius: 4px;
  margin-bottom: 1em;
}

.word:not(:last-of-type) {
  margin-right: 1em;
}

.word:hover {
  cursor: pointer;
  background-color: var(--link-hover);
}

.word:active {
  background-color: var(--link-active);
}