:root {
  --dark: #444;
  --lessdark: #373737;
  --light: #fff;
  --lesslight: #f9f9f9;
  --lightlink: blue;
  --lightlinkhover: aliceblue;
  --lightlinkactive: #d5e9fb;
  --darklink: #50d6ff;
  --darklinkhover: #30475b;
  --darklinkactive: #18344d;
  --bg-col: var(--light);
  --text-col: var(--dark);
  --mid-col: var(--lesslight);
  --link-col: var(--lightlink);
  --link-hover: var(--lightlinkhover);
  --link-active: var(--lightlinkactive);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: var(--bg-col);
  color: var(--text-col);
}

a {
  color: var(--link-col);
}

#nav {
  padding: 0;
  list-style-type: none;
}

#nav li {
  display: inline-block;
}

#nav li:not(:last-of-type) {
  margin-right: 1em;
}

main {
  padding-bottom: 27vh;
}

#text {
  padding: 0 2.5rem;
}
  @media (min-width: 800px) {
    #text {
      padding: 2rem 5rem 3.5rem;
    }
  }

#title {
  font-size: 6vh;
  line-height: 1;
}

#poem {
  font-size: 10vh;
  line-height: 1;
  margin: .5em 0;
}

.feeling {
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: italic;
}

#toolbox {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
  background-color: var(--mid-col);
  box-shadow: 1px 1px 10px 10px rgba(0,0,0,.04);
}

#instruction {
  margin-top: 0;
  font-style: italic;
  opacity: .7;
}

#choices {
  display: flex;
  overflow: scroll;
  /* position: relative; */
  /* height: 3rem; */
}

.word {
  padding: .5em 2em;
  background: none;
  font-family: "IBM Plex Serif", serif;
  font-size: 1em;
  color: var(--text-col);
  border: .5px solid var(--text-col);
  border-radius: 4px;
}

.word:not(:last-of-type) {
  margin-right: 1em;
}

.word:hover {
  cursor: pointer;
  background-color: var(--link-hover);
}

.word:active {
  background-color: var(--link-active);
}