<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
  <main>
    <%- include('header') %>
    <div class="text">
      <div class="about">
        <p>A tool for writing poetry by giving names to your feelings.</p>
        <p>This was initially born out of the summer of 2020 as a way to process the overwhelming and overlapping tidal waves of emotion that I was feeling across many communities. The feelings were big, wild brushstrokes, but it helped to identify them and know, at the peaks, it was <i>rage and rage and rage</i> I was feeling.</p>
        <p>Part of the process of building the tool was thinking about how details in the interface of constructing the poem served as metaphors for emotional expression. How does it feel to blow the words up as big as building graffiti, as opposed to scratching them tiny into the underside of a desk? In between the building blocks of feeling words, how do those entangled masses spill over and well up in the conjunctions? What do those pauses between words hold; and, how, too, are we coming in and out of our poems of emotion—emphatically, assuredly, or perhaps breathlessly, elliptically, with more still to be voiced?</p>
        <p><small>PRIVACY. The page starts with a short list of possible feeling words, but you can also write in your own—these words are not currently saved or uploaded anywhere and will be reset when you reload the page. After filling out a poem, you can choose to submit it to the project’s database, which is hosted on <a href="https://supabase.com/">Supabase</a>, an open-source Firebase alternative. This submission includes the text of the poem and the timestamp of the submission, as well as optional title and author fields if you choose to fill those out. All submitted poems are displayed on the <a href="/archive">archive</a> after submission. There is not yet a way to independently edit or remove poems from the database, but feel free to open an <a href="https://github.com/kayserifserif/i-name-this-feeling/issues">issue</a> on GitHub or reach out to me at [whykatherine at gmail dot com] if you’d like to do so.</small></p>
        <p>
          <a href="https://github.com/kayserifserif/i-name-this-feeling">Repository</a>
        </p>
        <p>
          <a href="https://kayserifserif.place"><img src="/img/logo.svg" alt="Logo" class="logo"></a>
        </p>
      </div>
    </div>
  </main>
</body>
</html>