<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
  <main>
    <%- include('header') %>
    <div class="text">
      <div class="about">
        <p>One-syllable emotions, felt in waves turbulent, uneven, overlapping, and without end.</p>
        <p>
          <a href="https://github.com/kayserifserif/what-i-feel-is">Source</a>
        </p>
        <p>
          <a href="https://kayserifserif.place"><img src="/img/logo.svg" alt="Logo" class="logo"></a>
        </p>
      </div>
    </div>
  </main>
</body>
</html>