<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
  <main>
    <%- include('header') %>
    <div class="text">
      <p class="loading">
        Loading…
      </p>
      <div class="archive">
        <div class="entry">
          <div class="entry-title"></div>
          <div class="entry-author"></div>
          <div class="entry-timestamp"></div>
          <div class="entry-text poem">
            <div class="paragraph">
              <div class="feeling"></div>
              <div class="linking-word">
                <div class="linking-word-display"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  
  <script src="/js/archive.js" type="module"></script>
</body>
</html>