<footer class="footer">
  <p>
    <a href="https://kayserifserif.place"><img src="/img/logo.svg" alt="Logo" class="logo"></a>
    One-syllable emotions, felt in waves turbulent, uneven, overlapping, and without end.
  </p>
</footer>