<head>
  <meta charset="UTF-8">
  <title>I Name This Feeling</title>
  <meta name="description" content="A tool for writing poetry by giving names to your feelings.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" class="theme-sheet" href="/css/light.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/ibm-plex-serif.min.css"> 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/ibm-plex-sans.min.css"> 
  <link rel="icon" href="/favicon.svg">
  <script src="https://kit.fontawesome.com/50b1346d06.js" crossorigin="anonymous"></script>

  <meta property="og:title" content="I Name This Feeling">
  <meta property="og:type" content="website">
  <meta property="og:description" content="A tool for writing poetry by giving names to your feelings.">
  <meta property="og:image" content="https://raw.githubusercontent.com/kayserifserif/i-name-this-feeling/main/documentation/Screenshot%202023-07-11%20at%2010.34.01%20PM.png">
  <meta name="twitter:image:alt" content="The prompt 'what i feel is' followed by repetitions of 'rage and rage and rage'.">
  <meta property="og:url" content="">
  <meta name="twitter:card" content="summary_large_image">

</head>