<head>
  <meta charset="UTF-8">
  <title>I Name This Feeling</title>
  <meta name="description" content="A tool for writing poetry by giving names to your feelings.">
  <meta property="og:title" content="I Name This Feeling">
  <meta property="og:description" content="A tool for writing poetry by giving names to your feelings.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" class="theme-sheet" href="/css/light.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/ibm-plex-serif.min.css"> 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/ibm-plex-sans.min.css"> 
  <link rel="icon" href="/favicon.svg">
  <script src="https://kit.fontawesome.com/50b1346d06.js" crossorigin="anonymous"></script>
</head>