<header class="header">
  <nav class="nav">
    <ul>
      <li><a href="/">My feelings, now</a></li>
      <li><a href="/archive">All our feelings, at some time</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</header>