<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
  <main>
    <%- include('header') %>
    <div class="text">
      <h1 class="title">what i feel is</h1>
      <div class="poem">
        <div class="linking-word" aria-hidden>
          <button type="button" class="linking-word-display">and</button>
          <div class="linking-options">
            <button type="button" class="option">and</button>
            <button type="button" class="option">but</button>
            <button type="button" class="option">so</button>
            <button type="button" class="option">then</button>
            <button type="button" class="option">yet</button>
            <button type="button" class="option">though</button>
            <button type="button" class="option">despite</button>
          </div>
        </div>
      </div>
    </div>
    <%- include('footer') %>
  </main>
  <div class="toolbox expanded">
    <button id="handle" type="button"><img src="/img/down-arrow.svg" width="10" height="10" role="presentation" alt=""></button>
    <div class="controls">
      <div id="choose" class="controls-section">
        <p>Record as many emotions as you feel:</p>
        <div id="choose-controls">
          <button type="button" class="word"></button>
        </div>
      </div>
      <div id="ending" class="controls-section">
        <p>Emotions are currently:</p>
        <form id="ending-controls">
          <input type="radio" name="isTrailingAnd" id="yesTrailingAnd" value="yesTrailingAnd" checked autocomplete="off">
          <label for="yesTrailingAnd">Unresolved</label>
          <input type="radio" name="isTrailingAnd" id="noTrailingAnd" value="noTrailingAnd" autocomplete="off">
          <label for="noTrailingAnd">At capacity</label>
        </form>
      </div>
      <div id="strats" class="controls-section">
        <p>Emotional coping strategies:</p>
        <div id="strats-controls">
          <button id="insertBreak" type="button"><span class="fas fa-paragraph"></span> Take a break</button>
          <button id="clear" type="button"><span class="fas fa-trash-alt"></span> Clear your head</button>
          <button id="reverse" type="button"><span class="fas fa-adjust"></span> Find a change of scenery</button>
          <button id="bigger" class="sizeControl" type="button"><span class="fas fa-plus"></span> Grapple with things up close</button>
          <button id="smaller" class="sizeControl" type="button"><span class="fas fa-minus"></span> See the bigger picture</button>
          <button id="download" type="button"><span class="fas fa-file-export"></span> Take things offline</button>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/html2canvas.min.js"></script>
  <script src="/js/main.js" type="module"></script>
</body>
</html>