<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
  <main>
    <%- include('header') %>
    <div class="text">
      <div class="builder">
        <!-- <h1 class="title">what i feel is</h1> -->
        <div class="title">
          <label for="title-input" class="hidden">Title / What is this poem about?</label>
          <form class="title-form">
            <input type="text" class="title-input" id="title-input" name="title-input" value="what i feel is" disabled autocomplete="off">
          </form>
        </div>
        <div class="poem">
          <div class="paragraph"></div>
          <button type="button" class="feeling"></button>
          <span class="break"> </span>
          <div class="linking-word">
            <button type="button" class="linking-word-display">and</button>
            <div class="linking-options">
              <button type="button" class="option"></button>
            </div>
          </div>
        </div>
        <div class="author hidden">
          <label for="author-input">Your name, if you want</label>
          <form class="author-form">
            <input type="text" class="author-input" id="author-input" name="author-input" value="">
          </form>
        </div>
        <form id="submit-form" class="hidden">
          <button type="button" class="review-btn" id="cancel-btn">Cancel</button>
          <button type="submit" class="review-btn" id="submit-btn">Submit</button>
        </form>
      </div>
    </div>
  </main>
  <button id="toolbox-btn" type="button">
    <span class="fa-solid fa-bars" id="show-toolbox-btn" title="Show toolbox"></span>
    <span class="fa-solid fa-xmark hidden" id="hide-toolbox-btn" title="Hide toolbox"></span>
  </button>
  <div class="toolbox">
    <div class="controls">
      <div id="choose" class="controls-section">
        <p>Your feelings include:</p>
        <div id="choose-controls">
          <button type="button" class="word"></button>
          <form id="freeform-form">
            <label for="freeform-input">Something else:</label>
            <div>
              <input type="text" name="freeformInput" id="freeform-input" autocomplete="off">
              <button type="submit">Add</button>
            </div>
          </form>
        </div>
      </div>
      <div id="beginning" class="controls-section">
        <p>Your feelings:</p>
        <form id="beginning-controls">
          <div>
            <input type="radio" name="hasLeadingLink" id="yesLeadingLink" value="true" autocomplete="off">
            <label for="yesLeadingLink">Have been simmering for a while</label>
          </div>
          <div>
            <input type="radio" name="hasLeadingLink" id="noLeadingLink" value="false" checked autocomplete="off">
            <label for="noLeadingLink">Are freshly felt</label>
          </div>
        </form>
      </div>
      <div id="ending" class="controls-section">
        <p>Your feelings are:</p>
        <form id="ending-controls">
          <div>
            <input type="radio" name="hasTrailingLink" id="yesTrailingLink" value="true" checked autocomplete="off">
            <label for="yesTrailingLink">Unresolved</label>
          </div>
          <div>
            <input type="radio" name="hasTrailingLink" id="noTrailingLink" value="false" autocomplete="off">
            <label for="noTrailingLink">At capacity</label>
          </div>
        </form>
      </div>
      <div id="strategies" class="controls-section">
        <p>Some coping strategies might include:</p>
        <div id="strategies-controls">
          <button id="break-btn" type="button">
            <span class="fa-solid fa-paragraph" aria-hidden="true"></span>
            <span class="control-label">Take a break</span>
          </button>
          <button id="clear-btn" type="button">
            <span class="fa-solid fa-trash-alt" aria-hidden="true"></span>
            <span class="control-label">Clear your head</span>
          </button>
          <button id="theme-btn" type="button">
            <span class="fa-solid fa-adjust" aria-hidden="true"></span>
            <span class="control-label">Find a change of scenery</span>
          </button>
          <button id="bigger-btn" class="size-control" type="button">
            <span class="fa-solid fa-plus" aria-hidden="true"></span>
            <span class="control-label">Grapple with things up close</span>
          </button>
          <button id="smaller-btn" class="size-control" type="button">
            <span class="fa-solid fa-minus" aria-hidden="true"></span>
            <span class="control-label">See the bigger picture</span>
          </button>
          <button id="download-btn" type="button">
            <span class="fa-solid fa-file-export" aria-hidden="true"></span>
            <span class="control-label">Take it offline</span>
          </button>
          <button id="review-btn" type="button">
            <span class="fa-solid fa-cloud-arrow-up" aria-hidden="true"></span>
            <span class="control-label">Share your feelings with others</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/html2canvas.min.js"></script>
  <script src="/js/index.js" type="module"></script>
</body>
</html>