:root {
  --bg-col: var(--dark);
  --bg-sec-col: var(--lessdark);
  --fg-col: var(--light);
  --fg-sec-col: var(--lesslight);
  --link-col: var(--darklink);
  --link-hover: var(--darklinkhover);
  --link-active: var(--darklinkactive);
}