:root {
  --bg-col: var(--light);
  --bg-sec-col: var(--lesslight);
  --fg-col: var(--dark);
  --fg-sec-col: var(--lessdark);
  --link-col: var(--lightlink);
  --link-hover: var(--lightlinkhover);
  --link-active: var(--lightlinkactive);
}