/* GENERAL */

:root {
  --dark: #444;
  --lessdark: #808080;
  --light: #fff;
  --lesslight: #f7f7f7;
  --lightlink: blue;
  --lightlinkhover: aliceblue;
  --lightlinkactive: #d5e9fb;
  --darklink: #50d6ff;
  --darklinkhover: #30475b;
  --darklinkactive: #18344d;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: var(--bg-col);
  color: var(--fg-col);
  display: flex;
  flex-direction: column;
}
@media (min-width: 1000px) {
  body {
    flex-direction: row;
  }
}

a {
  color: var(--fg-col);
  opacity: 0.8;
}

a:hover {
  font-style: italic;
}

button {
  appearance: none;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1em;
  line-height: 1;
  color: var(--fg-col);
  cursor: pointer;
}

button:disabled {
  pointer-events: none;
  color: var(--fg-sec-col);
}

.hidden {
  display: none !important;
}

/* HEADER */

.nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
  @media (min-width: 1000px) {
    .nav ul {
      flex-direction: row;
    }
  }

.nav li {
  display: inline-block;
}

.nav li:not(:last-of-type) {
  margin-right: 1em;
}

/* POEM */

main {
  flex: 1;
  height: 100vh;
  height: 100dvh;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
  @media (min-width: 1000px) {
    main {
      padding: 50px;
    }
  }

.text {
  padding: 2.5rem;
  background-color: var(--bg-sec-col);
  flex: 1;
}
  @media (min-width: 1000px) {
    .text {
      padding: 5rem;
    }
  }

.title label:not(.hidden),
.author label:not(.hidden) {
  display: block;
  color: var(--fg-sec-col);
}

#title-input,
#author-input {
  appearance: none;
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: var(--bg-col);
  color: var(--fg-sec-col);
  border: 1px solid var(--bg-sec-col);
  font-size: 4vh;
  line-height: 1;
  width: 100%;
}

#title-input:disabled,
#author-input:disabled {
  background: none;
}

.review-btns {
  margin-top: 50px;
  display: flex;
  gap: 1em;
}

.review-btn:hover {
  font-style: italic;
}

.poem {
  font-size: 5vh;
  line-height: 1;
  margin: .5em 0;
}
  @media (min-width: 1000px) {
    .poem {
      font-size: 10vh;
    }
  }

.paragraph {
  margin: 0 0 .5em 0;
}

.paragraph > div {
  display: inline-block;
}

.feeling {
  appearance: none;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  color: var(--fg-col);
  font-size: 1em;
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: italic;
  position: relative;
}

.builder .feeling {
  cursor: pointer;
}

.builder .feeling:hover::after,
.builder .feeling:active::after,
.builder .feeling:focus::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: currentColor;
  opacity: 0.9;
  animation: 0.15s ease-out extend;
}
@keyframes extend {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.break {
  position: relative;
  width: .5em;
}

.break-active {
  background-color: var(--link-hover);
  cursor: pointer;
}

.break-active:active {
  background-color: var(--link-active);
}

.break-active::after {
  position: absolute;
  content: "¶";
  font-size: .25em;
  top: 2.25em;
  left: .2em;
}

.fa-solid {
  font-size: .9em;
}

/* TOOLBOX */

.toolbox {
  height: 100vh;
  height: 100dvh;
  background-color: var(--bg-col);
}

@media (max-width: 1000px) {
  .toolbox {
    display: none;
  }

  .toolbox.expanded {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
  
    padding: 20px;
  
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1000px) {
  .toolbox {
    width: 350px;
    padding: 50px 50px 50px 0;
  }
}

#toolbox-btn {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 20px;
  z-index: 2;
}
  @media (min-width: 1000px) {
    #toolbox-btn {
      display: none;
    }
  }

.toolbox p {
  font-style: italic;
  color: var(--fg-sec-col);
  margin-top: 0;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100%;
}

#choose {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#choose-controls {
  overflow-y: auto;
  flex: 1;
}

.word {
  appearance: none;
  background: none;
  border: none;
  font-family: "IBM Plex Serif", serif;
  font-size: 1.5em;
  color: var(--fg-col);
}

.word:not(:last-of-type) {
  margin-right: 1em;
}

.word:hover,
.word:active,
.word:focus {
  cursor: pointer;
  font-style: italic;
  font-size: 1.5em;
  margin-right: 1.1em;
}

#strats-controls {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#strats-controls button {
  text-align: left;
  display: flex;
  gap: 0.5em;
  align-items: center;
}

#strats-controls button:hover {
  font-style: italic;
}

.linking-word {
  position: relative;
}

.linking-word .select-linking {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.linking-word .linking-options {
  display: none;
}

.linking-word.expanded .linking-options {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  position: absolute;
  top: 1em;
  z-index: 1;
  opacity: 0.8;
  background-color: var(--bg-col);
  padding: 0 0.5em;
  margin-left: -0.5em;
}

.linking-word button {
  text-align: left;
}

.linking-word-display {
  color: var(--fg-sec-col);
  opacity: 0.8;
  transition: 0.15s opacity;
}

.linking-word-display:hover {
  opacity: 0.9;
}

.linking-word .option {
  width: max-content;
  opacity: 0.5;
  transition: 0.15s opacity;
}

.linking-word .option:hover {
  opacity: 0.7;
}

/* ARCHIVE */

.archive {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px 20px;
}

.entry {
  color: var(--fg-sec-col);
}

.entry-title,
.entry-author {
  color: var(--fg-col);
}

.entry .poem {
  font-size: 1em;
  color: var(--fg-col);
}
@media (min-width: 1000px) {
  .entry .poem {
    height: 200px;
    overflow-y: auto;
  }
}

.entry .paragraph div {
  display: inline;
}

/* FOOTER */

.about {
  color: var(--fg-sec-col);
}

.logo {
  display: inline-block;
  height: 1em;
  margin: 0 0.1em -0.2em 0.1em;
}