/* GENERAL */

:root {
  --dark: #444;
  --lessdark: #808080;
  --light: #fff;
  --lesslight: #f7f7f7;
  --lightlink: blue;
  --lightlinkhover: aliceblue;
  --lightlinkactive: #d5e9fb;
  --darklink: #50d6ff;
  --darklinkhover: #30475b;
  --darklinkactive: #18344d;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: var(--bg-col);
  color: var(--fg-col);
  display: flex;
  flex-direction: column;
}
@media (min-width: 800px) {
  body {
    flex-direction: row;
  }
}

a {
  color: var(--fg-col);
  opacity: 0.8;
}

a:hover {
  font-style: italic;
}

.hidden {
  display: none !important;
}

/* NAV */

.nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.nav li {
  display: inline-block;
}

.nav li:not(:last-of-type) {
  margin-right: 1em;
}

/* POEM */

main {
  /* padding-bottom: 27vh; */
  /* padding-bottom: 47vh; */
}
  @media (min-width: 800px) {
    main {
      /* padding-bottom: 27vh; */
      padding: 0;
      /* flex: 1; */
      flex: 1;
      margin: 50px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

.text {
  padding: 2.5rem;
  background-color: var(--bg-sec-col);
  /* width: max-content; */
  /* max-width: 100%; */
}
  @media (min-width: 800px) {
    .text {
      /* padding: 2rem 5rem 3.5rem; */
      padding: 5rem;
      flex: 1;
    }
  }

/* .title {
  font-size: 4vh;
  line-height: 1;
  margin: 0;
}
  @media (min-width: 800px) {
    .title {
      font-size: 6vh;
    }
  } */

.title label:not(.hidden),
.author label:not(.hidden) {
  display: block;
  color: var(--fg-sec-col);
}

#title-input,
#author-input {
  appearance: none;
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: var(--bg-col);
  color: var(--fg-sec-col);
  border: 1px solid var(--bg-sec-col);
  font-size: 4vh;
  line-height: 1;
}

#title-input:disabled,
#author-input:disabled {
  background: none;
}

.review-btns {
  margin-top: 50px;
  display: flex;
  gap: 1em;
}

.review-btn {
  appearance: none;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--fg-col);
  cursor: pointer;
}

.review-btn:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.review-btn:hover {
  font-style: italic;
}

.poem {
  font-size: 5.5vh;
  line-height: 1;
  margin: .5em 0;
}
  @media (min-width: 800px) {
    .poem {
      font-size: 10vh;
    }
  }

.paragraph {
  margin: 0 0 .5em 0;
}

.paragraph > div {
  display: inline-block;
}

.feeling {
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: italic;
}

.break {
  position: relative;
  width: .5em;
}

.break-active {
  background-color: var(--link-hover);
}

.break-active:hover {
  cursor: pointer;
}

.break-active:active {
  background-color: var(--link-active);
}

.break-active::after {
  position: absolute;
  content: "¶";
  font-size: .25em;
  top: 2.25em;
  left: .2em;
}

.fa-solid {
  font-size: .9em;
}

/* TOOLBOX */

.toolbox {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 50px 50px 50px 0;
  width: 100%;

  height: 80px;
}
.toolbox.expanded {
  height: auto;
}
@media (min-width: 800px) {
  .toolbox {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 50px;
  }
  
  .toolbox.expanded {
    width: 350px;
    height: 100vh;
  }
}

#handle {
  display: block;
  text-align: center;
  margin: -1rem auto 1rem;
  background: none;
  border: 0;
}
@media (min-width: 800px) {
  #handle {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%) rotate(-90deg);
  }
}

#handle:hover {
  cursor: pointer;
}

.toolbox p {
  font-style: italic;
  color: var(--fg-sec-col);
}

.toolbox > p {
  margin-bottom: 0;
}

.controls {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
  @media (min-width: 800px) {
    .controls {
      width: 100%;
      /* flex-direction: row; */
      flex: 1;
      overflow: hidden;
    }
  }

.controls-section {
  width: 100%;
}
  @media (min-width: 800px) {
    .controls-section {
      /* width: 33.3%; */
    }
  }

#choose {
  flex: 1;
  /* display: flex; */
  /* flex-direction: column; */
  overflow: hidden;
}

#choose-controls {
  overflow: scroll;
  height: 75px;
}
@media (min-width: 800px) {
  #choose-controls {
    /* flex: 1; */
    height: 100%;
  }
}

.word {
  appearance: none;
  background: none;
  /* border: .5px solid currentcolor; */
  border: none;
  /* padding: .5em 2em; */
  /* padding: 0.2em 0.5em; */
  font-family: "IBM Plex Serif", serif;
  font-size: 1.5em;
  color: var(--fg-col);
  /* border-radius: 4px; */
  /* margin-bottom: 1em; */
}

.word:not(:last-of-type) {
  margin-right: 1em;
}

.word:hover {
  cursor: pointer;
  /* background-color: var(--link-hover); */
  font-style: italic;
  font-size: 1.6em;
  line-height: 1;
  margin-right: 1.1em;
}

.word:active {
  /* background-color: var(--link-active); */
}

#strats-controls {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: 1em;
}

#strats-controls button {
  appearance: none;
  background: none;
  border: none;
  font-size: 1em;
  font-family: "IBM Plex Sans", sans-serif;
  cursor: pointer;
  text-align: left;
  color: var(--fg-col);
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.5em;
  align-items: center;
}

#strats-controls button:disabled {
  color: var(--fg-sec-col);
  cursor: default;
}

#strats-controls button:hover {
  font-style: italic;
}

.linking-word {
  position: relative;
}

.linking-word .select-linking {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.linking-word .linking-options {
  display: none;
}

.linking-word.expanded .linking-options {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  position: absolute;
  top: 1em;
  z-index: 1;
  opacity: 0.8;
  background-color: var(--bg-col);
  padding: 0 0.5em;
  margin-left: -0.5em;
}

.linking-word button {
  appearance: none;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: "IBM Plex Sans", sans-serif;
  cursor: pointer;
  text-align: left;
  line-height: 1;
}

.linking-word-display {
  color: var(--fg-sec-col);
}

.linking-word .option {
  width: max-content;
  opacity: 0.5;
}

/* ARCHIVE */

.archive {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.entry {
  /* opacity: 0.5; */
  color: var(--fg-sec-col);
}

.entry-title,
.entry-author {
  color: var(--fg-col);
}

.entry .poem {
  font-size: 1em;
  color: var(--fg-col);
  height: 200px;
  overflow-y: auto;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
  color: var(--fg-sec-col);
}

.footer p {
  margin: 0;
}

.logo {
  height: 1em;
  margin-bottom: -0.1em;
}